/*
:root {
  --background: #F4EAD5;
  --primary-color: #ED6E90;
  --secondary-color: #b96d5a;
  --button-color: #ABD8C7;
  --labels: #C6A49A;
}*/

:root {
  --background: #264653;
  --button-color: #91d1eb;
  --primary-color: #e05162;
  --secondary-color: #316377;
  --labels: #e9c46a;
}

.icon, 
.second-icon {
  color: black;
}


.paper {
  background-image: url("/paper.png");
  position: absolute;
  inset: 0;
  background-size: calc(2px * 40);
  pointer-events: none;
  opacity: .012;
  z-index: 980;
  animation: fade-in 4s;
}

*{
  box-sizing: border-box;
}
@keyframes fade-in {
  0% {
    opacity: 0
  }
}



body,
html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  user-select: none;
}

body {
  overflow-x: hidden;
  padding: 0.8rem
}

input,
a {
  text-decoration: none;
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.wrapper,
.container {
  display: flex;
}

.spacer-menu-bar {
  flex: 1;
}

.head {
  gap: 1rem;
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 1rem;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 20rem;
  align-items: center;
}

.menu-choice {
  margin-right: auto;
  cursor: pointer;
  font-weight: bold;
}

.spacer-menu-bar-inside {
  flex: 1;
}

.user {
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  justify-content: end;
}



.home {
  display: flex;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
}

.home-text {
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  margin-top: 6rem;
  background-color: var(--labels);
  min-height: 15rem;
  transition: transform 1s;
  flex: 1;
}

.title-home {
  font-size: 100px;
  cursor: pointer;
}


.title-home-div {
  min-height: 10rem;
}

.info-home {
  font-size: 20px;
}

.add-text-button {
  margin-left: 0.5rem;
  font-weight: bold;
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 5px;
  border-color: transparent;
  margin-left: 3.3rem;
}

.spacer-button-right {
  flex: 1;
}

.margin-div-button-outside {
  margin-top: 30px;
}

.words-show {
  gap: 0.8em;
  margin: 3rem;
  display: flex;
  background-color: var(--labels);
  min-height: 3rem;
  border-radius: 20px;
  padding: 1rem;
  align-items: center;
  /*padding-right: 40rem;*/
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-width: fit-content;
}

.image {
  color: var(--primary-color);
}

.english {
  font-weight: bold;
  font-size: 20px;
  margin-right: auto;
}

.kanji {
  font-size: 20px;
  margin-right: auto;
}

.hiragana {
  font-size: 20px;
  margin-right: auto;
}

.button-row {
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  border-color: transparent;
}

.delete-button {
  margin-left: 2rem;
  justify-content: flex-end;
}

.overlay {
  position: absolute;
  /* Sit on top of the page content */
  display: flex;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.2rem);
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}

.add-word-overlay {
  margin-left: auto;
  margin-top: 10rem;
  margin-bottom: auto;
  margin-right: auto;
  /*min-width: 50rem;*/
  padding: 3rem;
  border-radius: 1rem;
  flex-direction: column;
  background-color: var(--secondary-color);
  opacity: 0.9;
  max-width: 50rem;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title {
  align-self: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 20px;
}

.button-insert-all {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-text {
  background-color: var(--labels);
  border-radius: 2rem;
  border-color: transparent;
  min-height: 2rem;
  padding: 5px;
  text-align: center;
}

.input-container {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.button-word {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  background-color: var(--button-color);
  border-radius: 5px;
  border-color: transparent;
  margin-left: 3.3rem;
  min-width: 5rem;
}

.text-button {
  font-weight: bold;
}

.quiz-choice-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.choice-box{
  flex:1;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.start-quiz{
  flex: 1;
  align-items: center;
  justify-content: center;
  outline: inherit;
  cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}
.start-quiz:disabled{
  opacity: 0.2;
  cursor:not-allowed;
}

.button-word:disabled{
  opacity: 0.5;
  cursor:not-allowed;
}

.button-word:disabled{
  opacity: 0.5;
  cursor:not-allowed;
}

.bold{
  font-weight: bold;
}

.quiz{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: #e9c46a;
  border-radius: 20px;
  /*margin: 3rem;*/
  min-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  max-width: 30rem;

  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-width: fit-content;
}

.answer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.check-answer{
  /*flex: 1;*/
  align-items: center;
  align-items: center;
  justify-content: center;
  outline: inherit;
  cursor: pointer;
  background:var(--primary-color);
  border-radius: 1rem;
	color: inherit;
	border: none;
	padding: 0.5rem;
	font: inherit;
}

.check-answer:disabled{
  opacity: 0.5;
  cursor:not-allowed;
}

.answer-box{
  background-color: #91d1eb;
  border-radius: 1rem;
  padding: 0.8rem;
  border: none;
  flex: 1;
}

.toTranslate{
  font-size: 60px;
}


.word{
  margin-bottom: 5rem;
  display: flex;
  text-align: center;
}

.correct{
  border-color: green;
  border-style: dashed;
}

.wrong{
  border-color: red;
  border-style: dashed;
}

.correctWord{
  color: green;
}

.wrongWord{
  color: red;
}


*:focus {
  outline: none;
}

/* form here animation */
.user,
.menu-choice,
.title-home,
.button,
.button-word,
.start-quiz,
.check-answer {
  transition: all 0.2s;
}

.user:hover,
.menu-choice:hover,
.title-home:hover,
.button:hover,
.button-word:hover,
.start-quiz:hover,
.check-answer:hover {
  transform: scale(1.1);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.coming-soon {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}